# Configuration file

general {
    # Tiers for apples
    S:appleTiers <
        {"oreName":"blockIron","entry":{"itemLimit":3200,"fluidLimit":32000}}
        {"oreName":"blockGold","entry":{"itemLimit":25600,"fluidLimit":256000}}
        {"oreName":"blockDiamond","entry":{"itemLimit":102400,"fluidLimit":1024000}}
        {"oreName":"netherStar","entry":{"itemLimit":2000000,"fluidLimit":20000000}}
     >

    # Player Storage Interface works better with other storage networks (AE2, Refined Storage) but it may decrease performance. [default: true]
    B:betterInterface=true

    # Fluid capacity at the beginning [range: 0 ~ 2147483647, default: 20000]
    I:fluidCapacity=20000

    # Enable infinite inventory. [default: false]
    B:infiniteSpace=false

    # Item capacity at the beginning [range: 0 ~ 2147483647, default: 2000]
    I:itemCapacity=2000

    # If enabled, a keeper block containing your items and fluids will be placed when you die. [default: true]
    B:keeper=true

    # Enable remote item to access your inventory without pressing a key. [default: false]
    B:remote=false

    # If false the fluid storage is disabled [default: true]
    B:useFluidStorage=true
}


